<section class="bg-primary" id="emission">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Un magazine dédié au travail</h2>
                <hr class="light">
                <p class="text-faded">En direct tous les dimanche à 15 heures, Stéphane Manet et son équipe rencontrent des spécialistes du monde du travail pour décortiquer ce monde complexe qui nous concerne tous.</p>
                <a href="https://cause-commune.fm/shows/cause-a-effet/" class="btn btn-default btn-xl">Écouter !</a>
            </div>
        </div>
    </div>
</section>
