<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/feedek.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script>
$('#podcastsrss').FeedEk({
FeedUrl: 'https://cause-commune.fm/cae/cae.xml',
MaxCount: 50,
ShowPubDate: false,
ShowDesc: false
});
</script>
